[build]
  publish = "."

[build.environment]
  NODE_VERSION = "18"
  MONGODB_URI = "mongodb+srv://itzsahilg1_db_mediconnect:<db_password>@cluster0mediconnect.uaefbft.mongodb.net/?appName=Cluster0Mediconnectyour_mongodb_atlas_connection_string_here"
  JWT_SECRET = "your_jwt_secret_here"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  directory = "netlify/functions"

